#mainNav {
    &.navbar {
        height: 64px;
        color: $white;
        
        &.bg-tmdbDarkBlue { 
            background-color: $tmdbDarkBlue;
        }

        .main-logo {
            height: 20px;
        }
        .nav-link {
            color: $white!important;
            font-family: 'Source Sans Pro', Arial, sans-serif;
            font-weight: 700;
        }
    }
}

#detailNav {
    height: 46px;
    display: flex;
    justify-content: center;

    .nav-item {
        padding: 6px 0 4px 0;
        margin-right: 40px;
    }
}

#mainNav {
    .dropdown-toggle::after {
        display: none;
    }
}